<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Yandex Not-yet-Jira</title>
        <link rel="stylesheet" href="src/css/todos.css"/>
    </head>

    <body>

        <div id="todoapp">

            <header>
                <h1>Not-yet-Jira</h1>
                <input id="new-todo" type="text" placeholder="What needs to be done?">
            </header>

            <section id="main">
                <div class="headline">
                    <div>Todo</div>
                    <div>In Progress</div>
                    <div>Done</div>
                </div>
                <ul id="todo-list" class="todo-lists" ></ul>
                <ul id="todo-list-inprogress" class="todo-lists" ></ul>
                <ul id="todo-list-done" class="todo-lists" ></ul>
            </section>

            <footer>

            </footer>

        </div>

        <script type="text/javascript" src="js/vendor/require.js"></script>
        <script type="text/javascript" src="js/config.js"></script>

        <script type="text/template" id="item-template">
            <div class="view">
                <label><%- title %></label>
                <div class="controls">
                    <% if (state < 2 ) { %>
                        <a href="javascript:void(0)" class="next">next</a>
                    <% } %>
                    <% if (state > 0 ) { %>
                        <a href="javascript:void(0)" class="prev">prev</a>
                    <% } %>
                    
                </div>                
                <a class="destroy"></a>
            </div>
            <input class="edit" type="text" value="<%- title %>" />
        </script>

        <script type="text/template" id="stats-template">
            <% if (done) { %>
                <a id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a>
            <% } %>
            <div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div>
        </script>

    </body>
</html>
